@import 'colors';

#main {
  background-color: lighten($background-primary, 5%);
  border-right: $border-primary;
  height: 100%;

  .list {
    .listItem {
      border: 0;
      color: $text-primary;
      background-color: lighten($background-primary, 5%);

      &:first-child,
      &:last-child {
        border-radius: 0;
      }

      &.active,
      &:hover {
        background-color: lighten($background-primary, 10%);
        outline: none;
      }
    }
  }
}
