@import 'colors';

#main {
  height: 100%;
  padding: 20px;

  .entry {
    display: flex;

    .field {
      flex-grow: 1;
      margin-right: 15px;
    }

    .controls {
      align-items: center;
      color: darken($text-primary, 40%);
      display: flex;
      font-size: 80%;
      width: 50px;

      .control + .control {
        margin-left: 10px;
      }
    }
  }
}
